html, body {
    height: 100%;
    margin: 0;
}
body {background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
      font-family: 'Roboto', sans-serif;
}
.weather-app { 
background:white;
max-width: 600px;
margin: 45px auto;
padding: 30px;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
}
header {
    border-bottom:1px solid #F7F4D6;
    padding: 0 0 30px 0;

}
.search-form-input{
    background-color:#F7F4D6;
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
}
.search-form-button{
    background-color:#F7D63A;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
}
a { color: #F7D63A;}

footer {
    border-top:1px solid #F7F4D6;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    }
    .weather-app-data{
        display: flex;
        justify-content: space-between;
    }
    .weather-app-city{
        margin: 0;
        font-size: 38px;
        line-height: 48px;
    }
    .weather-app-details{
        font-size: 16px;
        line-height: 24px;
        color:  rgba(39, 33, 66, 0.4);
        font-weight: 500;

    }
    .weather-app-temperature-container {
        display: flex;
    }
    .weather-app-details strong {
        color: #f65282;
    }
    main {
        padding: 30px 0;
    }
    .weather-app-temperature{
        font-size: 88px;
        font-weight:bold;
        line-height: 88px;
            }
.weather-app-unit{
margin-top: 6px;
font-size: 28px;
}
.weather-app-icon {
width: 88px;
height: 88px;
}